.contact{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    // height: 50vh;

    .form-box {
        min-height: 400px;
        max-width: 500px;
        // min-width: 250px;
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 50px;
        background: #ffffff;
        border: 10px solid #f2f2f2;

        .contact-form{

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 100vw;

            h1, p {
                text-align: center;
            }
              
            
        }
      }
}